* {
  color: #000080;
  background-color: #ffffff;
}
header {
  text-align: center;
  font-weight:bold;
  border-bottom: 1px solid black;
  }
.big {
  font-size: 30px;
}
.address {
  font-size: 12px;
}
header div {
  display: block;

}
a:link {
  color: #800080;
  }
a:visited {
  color: #ff0000;
}
table {
  width: 90%;
  margin-left: 5%;
}
td {
height: 55px;
width: 50px;
  }
.description {
  font-size: 10px;
}
footer span {
  display: block;
  text-align: center;
}
footer {
  border-top: 1px solid black;
}
#geico {
  margin-top: 10px;
  margin-left: 48g%;
}
.geico.words  {
  text-align: center;
  font-size: 12px;
}
.small {
  padding-top: 15px;
  border-top: 1px solid black;
  font-size: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}
#tiny {
  font-size: 8px;
}

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?

You have to make sure that the link is written correct or your CSS won't show up when you look at the file.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

I used text-align: center; and margin a lot to move everything around. While I got it somewhat close, it was still off somewhat.

What CSS did you use to modify the element style (like size, color, etc.)

I used font-size, font-color, and font-weight to change my element style.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?

Yea I used both but mainly classes. Classes is nice because you can use it multiple times on the same element.
I used ID only when I had something specific I needed to change.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

I think my site had better practices. They still did all the styling in the HTML instead of linking a CSS page.

*/
